# Server Port (Render automatically sets PORT)
PORT=3000

# Admin Dashboard Login Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# Upstream API & Master Admin Key
API_KEY=GTCAPI-872F834050A1C868448EC5B45275D704
BASE_URL=https://gtccheats.xyz/Api/uidbypassapi/api_user.php
MASTER_ADMIN_ID=1457931837769908467

# Branding & Key Generation Settings
API_KEY_PREFIX=Mani272
APP_BRAND_NAME=Mani272 API

# Discord Audit Log Webhook (Optional)
LOG_WEBHOOK_URL=https://discord.com/api/webhooks/1522244617607843941/bRh6RYuLAPKYFnelDs2d5a18bc3CR1Z3UfFTbj4oZhZmzdhXAK8ew7DFRx2CmRT4qJb6

# Database File Path (Optional: set custom path if using Render Persistent Disk e.g. /var/data/database.json)
# DB_PATH=/var/data/database.json
